<ion-view title="Current Trial">
  <ion-pane>
    <ion-content>

        <!-- Content to display on valid days (ones with records) -->
        <div ng-if="cal_display === 'yes'" class="padding card">
        	<h4>{{text.calendar.title}} {{cal_day}}</h4>
        	<p> {{text.calendar.field_1}} <b>{{cal_cond}}</b></p>
        	<p> {{text.calendar.field_2}} <b>{{cal_comp}}</b></p>            
            <p> {{text.calendar.field_3}} <br/><br/>
            <ul class="list">
                <li class="item item-text-wrap list_text" ng-repeat="(key,value) in cal_scr">
                    <b>{{key}}</b><br/> {{value}} 
                </li>
            </ul>
        </div>




        <!-- Content to display on invalid days (days in the future) -->
        <div ng-if="cal_display === 'no'" class="padding card">
            <h4>{{text.calendar.title}} {{cal_btn}}</h4>
            <p> {{text.calendar.future}}</p>
        </div>

        <!-- Content to display for today -->
        <div ng-if="cal_display === 'today'" class="padding card">
            <h4>{{text.calendar.title}} {{cal_btn}}</h4>
            <p> {{text.calendar.today}}</p>
        </div>

        <!-- Content to display for neg compliance -->
        <div ng-if="cal_display === 'neg'" class="padding card">
            <h4>{{text.calendar.title}} {{cal_btn}}</h4>
            <p> {{text.calendar.field_1}} <b>{{cal_cond}}</b></p>
            <p> {{text.calendar.field_2}} <b>{{cal_comp}}</b></p>
            <p> {{text.calendar.field_3}} <b>{{text.calendar.neg}}</b></p>
        </div>

        <!-- Content to display for missing report -->
        <div ng-if="cal_display === 'null'" class="padding card">
            <h4>{{text.calendar.title}} {{cal_btn}}</h4>
            <p> {{text.calendar.field_1}} <b>{{cal_cond}}</b></p>
            <p> {{text.calendar.missing}}</p>
        </div>
        

    </ion-content>  
  </ion-pane>
</ion-view>