<ion-view >
  <ion-nav-title>
    <span class="heavy">{{cal_day}}</heavy>
  </ion-nav-title>
  <ion-pane>
    <ion-content class="grey">

        <!-- Content to display on valid days (ones with records) -->
        <div ng-if="cal_display === 'yes'">
        	
            <p class="heavy padding" style="margin:0px;">
                {{text.calendar.field_1}}
            </p>
            <div style="background-color:white;" class="padding">
                <p>{{cal_cond}}</p>
            </div>
        	
            <p class="heavy padding" style="margin:0px;">
                {{text.calendar.field_2}}
            </p>
            <div style="background-color:white;" class="padding">
                <p ng-bind-html="cal_bcomp"></p>
                <p ng-bind-html="cal_lcomp"></p>
            </div>

            <p class="heavy padding" style="margin:0px;">
                {{text.calendar.field_3}}
            </p>
            <div style="background-color:white;" ng-repeat="(key,value) in cal_scr">
                <div class="row" style="padding-left:10px;">
                    <div class="col col-67" style="padding:0px;">
                        {{key}}
                    </div>
                    <div class="col" style="text-align:right; padding:0px; padding-right:5px;">
                        {{value}}
                    </div>
                </div>
            </div>

            <p class="heavy padding" style="margin:0px;">
                Note
            </p>
            <div style="background-color:white;" class="padding">
                <p> {{note}} </p>
            </div>

        </div>

        <!-- Content to display on days with compliance but no symptom reports -->
        <div ng-if="cal_display === 'guess'">

            <p class="heavy padding" style="margin:0px;">
                {{text.calendar.field_1}}
            </p>
            <div style="background-color:white;" class="padding">
                <p>{{cal_cond}}</p>
            </div>
            
            <p class="heavy padding" style="margin:0px;">
                {{text.calendar.field_2}}
            </p>
            <div style="background-color:white;" class="padding">
                <p ng-bind-html="cal_bcomp"></p>
                <p ng-bind-html="cal_lcomp"></p>
            </div>

            <p class="heavy padding" style="margin:0px;">
                {{text.calendar.field_3}}
            </p>
            <div style="background-color:white;" class="padding">
                <p class="assertive"> {{text.calendar.guess}} </p>
            </div>

            <p class="heavy padding" style="margin:0px;">
                Note
            </p>
            <div style="background-color:white;" class="padding">
                <p> {{note}} </p>
            </div>

        </div>


        <!-- Content to display on invalid days (days in the future) -->
        <div ng-if="cal_display === 'no'">
            <br/>
            <div style="background-color:white;" class="padding">
                <p>{{text.calendar.future}}</p>
            </div>
        </div>

        <!-- Content to display for today -->
        <div ng-if="cal_display === 'today'">
            <br/>
            <div style="background-color:white;" class="padding">
                <p> {{text.calendar.today}}</p>
            </div>
        </div>

        <!-- Content to display for missing compliance -->
        <div ng-if="cal_display === 'miss'">

            <p class="heavy padding" style="margin:0px;">
                {{text.calendar.field_1}}
            </p>
            <div style="background-color:white;" class="padding">
                <p>{{cal_cond}}</p>
            </div>

<!--             <p class="heavy padding" style="margin:0px;">
                {{text.calendar.field_2}}
            </p>
            <div style="background-color:white;" class="padding">
                <p>{{text.calendar.miss}}</p>
            </div> -->
            <p class="heavy padding" style="margin:0px;">
                {{text.calendar.field_2}}
            </p>
            <div style="background-color:white;" class="padding">
                <p class="assertive">{{text.calendar.noreport}}</p>
            </div>

            <p class="heavy padding" style="margin:0px;">
                Note
            </p>
            <div style="background-color:white;" class="padding">
                <p> {{note}} </p>
            </div>          

        </div>

        <!-- Content to display for missing report -->
        <div ng-if="cal_display === 'null'">
            
            <p class="heavy padding" style="margin:0px;">
                {{text.calendar.field_1}}
            </p>
            <div style="background-color:white;" class="padding">
                <p>{{cal_cond}}</p>
            </div>

            <p class="heavy padding" style="margin:0px;">
                {{text.calendar.field_2}}
            </p>
            <div style="background-color:white;" class="padding">
                <p class="assertive">{{text.calendar.noreport}}</p>
            </div>

            <p class="heavy padding" style="margin:0px;">
                Note
            </p>
            <div style="background-color:white;" class="padding">
                <p> {{note}} </p>
            </div>
        </div>
        
        <br/>
        <div class="row">
            <div class="col col-10"> &nbsp;&nbsp; </div>
            <div class="col">
                <a class="button button-block button-royal" ui-sref="current" style="width:{{btn_width}}px;">
                        Go back
                </a>
            </div>
            <div class="col col-10"> &nbsp;&nbsp; </div>
        </div>

    </ion-content>  
  </ion-pane>
</ion-view>