<ion-view cache-view="false">
  <ion-nav-title>
    <span class="heavy">Breakfast Compliance</heavy>
  </ion-nav-title>
  <ion-pane>
    <ion-content class="padding">
      <div class="padding">
        <p>{{text.during.subtitle1}}</p>
    		<p><b>{{log_subtitle}}</b></p>

        <div class="button-bar">
      		<a class="button button-block button-royal heavy" ng-click="compliant_no()">
                  {{text.during.button2}}
          </a> &nbsp;
          <a class="button button-block button-royal heavy" ng-click="compliant_yes()">
                  {{text.during.button1}}
          </a>
        </div>
      </div>
    </ion-content>  
  </ion-pane>
</ion-view>
