<ion-view title="Current Trial" cache-view="false">
  <ion-pane>
    <ion-content class="padding">
      	<br/>
		<h4 class="title">{{log_title}}</h4>
		<br/>
		<p>{{log_subtitle}}</p>
		<br/>

    <div class="button-bar">
  		<a class="button button-block button-royal" ng-click="compliant_no()">
              {{text.during.button2}}
      </a> &nbsp;
      <a class="button button-block button-royal" ng-click="compliant_yes()">
              {{text.during.button1}}
      </a>
    </div>
    </ion-content>  
  </ion-pane>
</ion-view>
