<ion-view>
  <ion-nav-title>
    <span class="heavy">Breakfast Compliance</heavy>
  </ion-nav-title>
  <ion-pane>
    <ion-content class="padding">
    <div class="padding">
        <h4 class="title">{{text.neg_compliance.title}}</h4>
        <br/>
        <p>{{text.neg_compliance.text}}</p>
        <br/>
        <div class="divcenter">
            <a class="button button-block button-royal heavy" ui-sref="current">
                Return To Trial
            </a>
        </div>
    </div>
    </ion-content>  
  </ion-pane>
</ion-view>