<ion-view title="Current Trial">
  <ion-pane>
    <ion-content class="padding">
        <br/>
    <h4 class="title">{{text.notes.title}}</h4>
    <br/>
    <label class="item item-input">
      <textarea cols="25", rows="?"></textarea>
      <input type="text">
    </label>

    <a class="button button-block button-royal" ui-sref="#">
      {{text.notes.button}}
    </a>

    <div ng-controller="CameraCtrl">
    <h4 class="text-center">Attach a Picture</h4>
    <br/>
    <br/>
 
    <button class="button button-block button-positive" ng-click="takePicture()">
        Take a Picture
    </button>
    <img class="padding" ng-src="{{imgSrc}}">
  </div>
    </ion-content>  
  </ion-pane>
</ion-view>