<ion-view title="Current Trial">
  <ion-pane>
    <ion-content class="padding">
        <br/>
    <h4 class="title" ng-hide="ntexst">{{text.notes.title}}</h4>
    <h4 class="title" ng-show="ntexst">{{text.notes.title2}}</h4>

    <span>
      <textarea cols="{{box_width}}" class="msd-elastic" placeholder="Add Note" ng-model="tm.note" style="padding:10px 2px; border:1px solid #999999;">
      </textarea>
        <input type="text">
    </span>
    
    <div class="divcenter">
      <a class="button button-energized heavy" ng-click="add_note()" style="width:150px;">
        {{text.notes.button}}
      </a>
    </div>

<!--     <div ng-controller="CameraCtrl">
    <h4 class="text-center">Attach a Picture</h4>
    <br/>
    <br/>
 
    <button class="button button-block button-positive" ng-click="takePicture()">
        Take a Picture
    </button>
    <img class="padding" ng-src="{{imgSrc}}"> -->
  </div>
    </ion-content>  
  </ion-pane>
</ion-view>