<ion-view cache-view="false">
  <ion-nav-title>
    <span class="heavy">Symptom Report</heavy>
  </ion-nav-title>
  <ion-pane>
    <ion-content class="padding">
        <br/>
<!--     <h4 class="title">{{log_title}}</h4>
    <h5 class="title">{{log_symptom}}</h5>
    <br/> -->
    <p>{{text.post.subtitle1}}</p>
    <p class="heavy">{{log_subtitle}}</p>
    <div class="likert">
      
        <ul class="list">
          <li ng-repeat="label in text.post.likertlabels" class="item item-checkbox checkbox-royal">
            <label class="checkbox">
              <input type="radio" name="likert" ng-value="$index" ng-model="log_model.severity" ng-checked="log_model.severity">
            </label>
              {{label.label}}<br>

            <span class="likertdetail item-text-wrap">{{label.detail}}</span>
          </li>
        </ul>
      
    </div>
    <br>
    <div class="divcenter">
      <!-- <a class="button button-royal heavy" ng-click="log_cancel()">
        {{text.post.cancel}}
      </a> &nbsp; -->
      <a class="button button-energized heavy" ng-disabled="log_model.severity == null" style="width:150px;" ng-click="log_submitnext()">
        {{log_submitnext_label}}
      </a>
    </div>

    </ion-content>  
  </ion-pane>
</ion-view>
