<ion-view title="Symptom Log" cache-view="false">
  <ion-pane>
    <ion-content class="padding">
        <br/>
<!--     <h4 class="title">{{log_title}}</h4>
    <h5 class="title">{{log_symptom}}</h5>
    <br/> -->
    <p>{{text.post.subtitle1}}</p>
    <p><b>{{log_subtitle}}</b></p>
    <br/>
    <div class="likert">
      
        <ul class="list">
          <li ng-repeat="label in text.post.likertlabels" class="item item-checkbox">
            <label class="checkbox">
              <input type="radio" name="likert" ng-value="$index" ng-model="log_model.severity">
            </label>
              {{label.label}}<br>

            <span class="likertdetail">{{label.detail}}</span>
          </li>
        </ul>
      
    </div>
    <br>
    <div class="button-bar">
      <a class="button button-royal" ng-click="log_cancel()">
        {{text.post.cancel}}
      </a> &nbsp;
      <a class="button button-royal" ng-disabled="log_model.severity == null" ng-click="log_submitnext()">
        {{log_submitnext_label}}
      </a>
    </div>


    </ion-content>  
  </ion-pane>
</ion-view>
