<ion-view title="Current Trial" cache-view="false">
  <ion-pane>
    <ion-content class="padding">
      	<br/>
		<h4 class="title">{{text.sec_comp.title}}</h4>
		<br/>
		<p>{{text.sec_comp.subtitle}}</p>
		<br/>

    <div class="button-bar">
  		<a class="button button-block button-royal" ng-click="compliant_no()" ui-sref="post({symptomIndex:0})">
              {{text.during.button2}}
      </a> &nbsp;
      <a class="button button-block button-royal" ng-click="compliant_yes()" ui-sref="post({symptomIndex:0})">
              {{text.during.button1}}
      </a>
    </div>
    </ion-content>  
  </ion-pane>
</ion-view>
