/* Empty. Add your own CSS if you like */
.ten-padding {
    padding: 10px !important;
}

.zero-padding {
	padding: 0px !important;
}

.item-divider{
	background-color: #886aea;
	/* background-color: #11c1f3; */
}

.bar-royal{
	background-color: #4b2e83;
}

/* changing the text color of list headings to white */
.item-divider{
	color: #fff;
}