/* Empty. Add your own CSS if you like */
.zero-padding {
	padding: 0px !important;
}

.item-divider{
	background-color: #886aea;
	/* background-color: #11c1f3; */
}

/* changing the text color of list headings to white */
.item-divider{
	background-color: #4b2e83;
	color: #fff;
}

.calendar{
	background-color: #999999;
}

.calendar i{
	padding-top: 10px;
}

.calfont{
	font-size: 10px;
}

.divcenter{
	text-align:center;
}

.likert li{
	padding: 0.8em 0 0.8em 3.5em;
}

.likertdetail{
	font-size: 0.9em;
	color:grey;
}

.new_line{
	white-space: pre-wrap;
}