/* Empty. Add your own CSS if you like */
.zero-padding {
	padding: 0px !important;
}

.item-divider{
	background-color: #886aea;
	/* background-color: #11c1f3; */
}

.grey-text{
	color: #666666;
}

.button-small{
	max-height: 32px;
}

.btn_lh{
    line-height: 42px !important;
    font-size: 16px;
    min-height: 40px !important;
    min-width: 44.28px;
    /*min-width: unset !important;*/
    max-width:  unset !important;
    text-align:center;
}

.button-royal{
	max-width: 100%;
}
.light-royal{
	background-color: #c9c0d9;
	max-width: 100%;
}
.button-clear{
	max-width: 100%;
}

/* changing the text color of list headings to white */
.item-divider{
	background-color: #4b2e83;
	color: #fff;
}

.calendar{
	background-color: #d9d9d9;
}

.calendar i{
	padding-top: 10px;
}

.calfont{
	font-size: 10px;
}

.divcenter{
	text-align:center;
}

.likert li{
	padding: 0.8em 0 0.8em 3.5em;
}

.likertdetail{
	font-size: 0.9em;
	color:grey;
}

/*css for 2nd column of reminders card*/
.neg-padding {
	margin-left: -5px;
}

.rem-padding{
	padding-left: 10px;
	width: 100%;
}

.edit-padding{
	float:right;
	text-align: right;
	width: 30px;
}

.setup-padding{
	padding-left: 12px;
}

/*Attempt to fix delay in ng-if and ng-show/hide*/
.ng-hide.ng-hide-animate{
     display: none !important;
}

.twelve{
	font-size: 12px;
}

/*Positioning for the circle highlighting current day in calendar widget*/
.on-top{
	z-index: 10;
}

.not-on-top{
	position:absolute; 
	top:-2px;
	left:5px;
	z-index: 1;
}

/*New line when fetching text from json : see study setup page with food prefs*/
.new_line{
	white-space: pre-wrap;
}

/*Allowing italics and emphasis*/
em,i{
    font-style:italic;
}

/*Background color for reminder lists*/
.rem_bkg{
	background-color: #e9eaed;
}

/*Default text size in list seems to be 16px compared to 14px of p tag*/
.list_text{
	font-size: 14px;
}

/*changing the size of button-small to be slightly bigger*/
.small-text{
	font-size: 14px;
}

.submit-card{
	background-color: #d9d9d9;
}

/* css for the result vis */
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}