<!-- Page contents merged with Settings tab -->

<!-- <ion-view title="My Trial">
  <ion-pane>
    <ion-content class="padding">

		<div class="card padding">
      <h4>Trial Summary</h4>
        <div class="row">
          <div class="col col-33">
	         Name 
          </div>
          <div class="col">
            {{study_current.trigger}} Trial
          </div>
        </div>
        
        <div class="row">
          <div class="col col-33">
            Date Started
          </div>
          <div class="col"> 
            {{start_day}}
          </div>
        </div>

        <div class="row">
          <div class="col col-33">
            Symptoms 
          </div>
          <div class="col"> 
            <span ng-repeat="s in sym">{{s}} <br/></span>
          </div>
        </div> 

        <div class="row">
          <div class="col col-33">
            Trigger
          </div>
          <div class="col"> 
            {{study_current.trigger}}
          </div>
        </div> 

        <div class="row">
          <div class="col col-33">
	         Breakfast Preference
          </div>
          <div class="col"> 
            {{study_current.breakfast_pref}}
          </div>
        </div>  

	      <div class="row">
          <div class="col col-33">
            Drink Preference 
          </div>
          <div class="col"> 
            {{study_current.drink_pref}}
          </div>
        </div>  
	  </div>

        <div ng-show="comp" class="card padding">
          <h4>Complete Trial</h4>
          <p>You have finished the trial. Please submit the trial by pressing the button below to view results.</p>
           <div class="divcenter">
              <button class="button button-block button-royal" ng-click="complete_trial()" >
                Complete Trial
              </button>
           </div>
        </div>


        <div ng-show="abdn" class="card padding">
          <h4>End Trial</h4>
          <p>{{text.current.abandon_text}}</p>
            <div class="divcenter">
              <button class="button button-block button-royal" ng-click="abandon_trial()" >
                Abandon Trial
              </button>
            </div>
        </div>


    </ion-content>  
  </ion-pane>
</ion-view> -->