<ion-view title="My Trial">
  <ion-pane>
    <ion-content class="padding">

<!--    		<div class="card padding">
	        For testing purposes only: <br/>
	        {{study_current.id}}
	     </div> -->

		<div class="card padding">
	        Name : {{study_current.name}} <br/> 
	        Breakfast preference : {{study_current.breakfast_pref}} <br/> 
	        Drink preference : {{study_current.drink_pref}} <br/> 
	        Status : {{study_current.status}}  <br/>
	  </div>

        <!-- 
        Completing a study
        --> 
        <div ng-show="complete" class="card padding">
          <h4>Complete Trial:</h4>
          <p>You have finished the trial. Please submit the trial by pressing the button below to view results.</p>
           <div class="divcenter">
              <button class="button button-royal" ng-click="complete_trial()" >
                Complete Trial
              </button>
           </div>
        </div>

        <!-- 
        Abandoning a study
        --> 
        <div ng-show="abandon" class="card padding">
          <h4>End Trial:</h4>
          <p>{{text.current.abandon_text}}</p>
            <div class="divcenter">
              <button class="button button-royal" ng-click="abandon_trial()" >
                Abandon Trial
              </button>
            </div>
        </div>


    </ion-content>  
  </ion-pane>
</ion-view>