<ion-view>
	<ion-nav-title class="heavy">
       {{trigger}} Trial
    </ion-nav-title>
	<ion-pane>
    <ion-content class="grey">
    <br/>
		<h5 class="heavy padding" style="margin:0px;">What is Negative Compliance? </h5>
		<div class="" style="background-color:white; padding:10px;">
			<p>
				Negative compliance means that you were unable to follow the breakfast prompt - you consumed {{trigger}} on a non-{{trigger}} day or did not consume {{trigger}} on {{trigger}} day<br/><br/>
				OR<br/><br/>
				You were unable to fast for 3 hours after breakfast.
			</p>
		</div>
        <br/>

		<h5 class="heavy padding" style="margin:0px;">What is No Report? </h5>
        <div class="" style="background-color:white; padding:10px;">
			<p>
				Days on which Symptom Report(s) are not submitted are marked as 'No Report'.
			</p>
		</div>
        <br/>

	</ion-content>  
	</ion-pane>
</ion-view>