<ion-view>
  <ion-nav-title class="heavy">
    {{view_title}} Trial
  </ion-nav-title>
  <ion-pane>
    <ion-content class="">
        <div class="primary">
            <br/>
            <div class="divcenter">
                <div style="display:inline-block;">
                    <p class="primaryd1 heavy" style="font-size:0.9em; color:#dddddd; padding:5px;">
                        &nbsp;&nbsp; {{start_date_md}} - {{end_date_md}} ({{duration_readable}} days) &nbsp;&nbsp;
                    </p>
                </div>
            </div>

            <p class="white padding" style="font-size:1.2em;">Does {{st_trigger}} affect my <span ng-repeat="symptom in st_symptom"> {{symptom}} &nbsp; </span>?</p><!-- work on punctuation logic --> 
            <br/>
        </div>

    <div class="grey">
        <!-- <h5 class="title">{{text.pasttrial1.status_title}}</h5> -->
        <span ng-show="st_status == 'abandoned'"> This trial was {{st_status}}.</span><span ng-show="st_reason != ''">The reason for abandoning was <i>'{{st_reason}}'</i>.</span>

        <!-- Message while results are being processed -->
        <div ng-show="st_status == 'ended' && !ready">
            <p class="assertive">Your data is being proccessed and your result will be available soon.</p>
        </div>

        <!-- Show results only if study has ended and results are available -->
        <div ng-show="st_status == 'ended' && ready">
            <div ng-repeat="(key, value) in visdata">
                <!-- Result for symptom:<br/> -->
                <br/>
                <div class="divcenter">
                    <h4 class="heavy" style="margin-top:0px; margin-bottom:0px;">{{key}}</h4>
                    <p>{{value[0].p_txt}}<p>
                </div>

                <div class="padding" style="background-color:white;">
                    {{value[0].summary}}. 
                    <a ui-sref="pvalue" style="text-decoration:none; color:#000000;">
                        <span style="text-decoration:underline;">(p={{value[0].p_val}}) </span>
                        <i class="ion-information-circled" style="font-size: 125%;"></i>
                    </a>
                    <br/>
                    <!-- <div class="divcenter">
                        <b><label >{{view_title}}</label></b>
                    </div> -->

                <!-- Legend for the vis  -->
    <!--             <svg height="20" width="100%">
                  <circle cx="50" cy="9" r="9" fill="#FFA70F" />
                  <text x="65" y="15">: {{trig}} days</text>
                  <circle cx="180" cy="9" r="9" fill="#0F85FF" />
                  <text x="195" y="15">: No {{trig}} days</text>
                </svg>
     -->            
                    <!-- Result Vis -->
                    <div class="divcenter">
                        <button class="button button-block small-text" style="display:inline-block; width:120px; min-height:38px; height:42px;" ng-click="resultVisControl.updateVis(); timeline_h = true; trend_h = false;" ng-class="timeline_h == true ? 'button-energized' : 'button-positive'  ">&nbsp;&nbsp; Timeline view &nbsp;&nbsp; </button> &nbsp;&nbsp;
                        <button class="button button-block small-text" style="display:inline-block; width:120px; min-height:38px; height:42px;" ng-click="resultVisControl.revertVis(); timeline_h = false; trend_h = true;" ng-class="trend_h == true ? 'button-energized' : 'button-positive' ">&nbsp;&nbsp; Trend view &nbsp;&nbsp; </button>
                    </div>
                    <result-vis result-data="value" on-click="d3OnClick(data_pt)" label="d3Label" control="resultVisControl"> </result-vis>

                <div>
                <br/>

                <!-- Decided not to show averages -->
                <!-- Average {{key}} severity on days with {{trig}} was 
                    {{value[0].a_res_text}} 
                    and on days without {{trig}} was 
                    {{value[0].b_res_text}}. <br/><br/> -->

                    <span ng-show="value[duration_readable - 1].a_void > 0 || value[duration_readable - 1].b_void > 0">
                        There were {{value[duration_readable - 1].a_void + value[duration_readable - 1].b_void}} days, shown in gray circles in the visualization, which were not included in the result analysis. The reason for excluding the data is either missing symptom reports, or negative compliance to breakfast or fast prompt.
                        <a ui-sref="neg_comp">
                            <i class="ion-information-circled" style="color:#000000; font-size: 125%;"></i>
                        </a>
                    </span>

                </div>

                </div>
            </div>
        </div>
    </div>

    </ion-content>  
  </ion-pane>
</ion-view>
