<ion-view>
	<ion-nav-title class="heavy">
       P-value
    </ion-nav-title>
	<ion-pane>
    <ion-content class="grey">
    <br/>
		<h5 class="heavy padding" style="margin:0px;">What is a p-value? </h5>
		<div class="" style="background-color:white; padding:10px;">
				<p>The p-value of your study represents the probability of the result being true. <br/><br/>
				How to interpret the p-value:</p>
				<ul> 
					<li>p-value less than 0.05 is a strong evidence</li>
					<li>p-value between 0.05 and 0.15 is a possible evidence</li>
					<li>p-value between 0.15 and 0.35 is a weak evidence</li>
					<li>p-value more than 0.35 is no evidence</li>
				</ul><br/>
				<p>example: A p-value of 0.06 means there is possible evidence that the trigger you are testing in the trial can be causing your symptoms.</p>
		</div>
        <br/>
	</ion-content>  
	</ion-pane>
</ion-view>