      <ion-view title="Trial Setup (2 of 5)">
          <ion-pane>
          <ion-content>   
            <div class="padding">      
              <h4 class="title">{{text.setup3_3.title}}</h4>
              <p>{{text.setup3_3.para1}}</p>
              <p>{{text.setup3_3.para2}}</p>
              <p>{{text.setup3_3.para3}}</p>
              <ul class="list">
                <li class="item">{{text.setup3_3.list1}}</li>
                <li class="item">{{text.setup3_3.list2}}</li>
                <li class="item">{{text.setup3_3.list3}}</li>
              </ul>
          </div>

          </ion-content>  
          </ion-pane>
      </ion-view>