      <ion-view title="Study Setup (3 of 4)">
          <ion-pane>
          <ion-content>   
            <div class="padding">      
              <h4 class="title">{{text.setup4.title}}</h4>
              <p>{{text.setup4.subtitle}}</p>

            <div class="list">
              <div class="item item-text-wrap">
                {{text.setup4.morning_title}}
                <p>{{text.setup4.morning_text}}</p>
                <label class="item item-input">
                  <span class="input-label">{{text.setup4.time}}</span>
                  <input type="time" ng-model="setupdata.morning_time">
                </label>
              </div>      

              <div class="item item-text-wrap">
                {{text.setup4.breakfast_title}}
                <p>{{text.setup4.breakfast_text}}</p>
                <label class="item item-input">
                  <span class="input-label">{{text.setup4.time}}</span>
                  <input type="time" ng-model="setupdata.breakfast_time">
                </label>
              </div>      

              <div class="item item-text-wrap">
                {{text.setup4.symptom_title}}
                <p>{{text.setup4.symptom_text}}</p>
                
                <label class="item item-input"> 
                  <span class="input-label">{{text.setup4.time}}</span> 
                  <input type="time" ng-model="setupdata.symptom_time">
                </label>
              </div>  
            
              <div class="item item-text-wrap">
                {{text.setup4.study_length_title}}
                <p>{{text.setup4.study_length_text}}</p>
                <label class="item item-input item-select">
                  <div class="input-label">
                    {{text.setup4.days}}
                  </div>
                  <select ng-model="setupdata.duration">
                    <option value="8">8</option>
                    <option value="10">10</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="24">24</option>
                    <option value="26">26</option>
                    <option value="28">28</option>
                    <option value="30">30</option>
                  </select>
                </label>
              </div>   
              
              <div class="item">
                {{text.setup4.start_date_title}}
                <label class="item item-input">
                  <span class="input-label">{{text.setup4.date}}</span>
                  <input type="date" ng-model="setupdata.startdate">
                </label>
              </div> 

              <div class="item" ng-hide="setup.paramsSet">
                <div class="button button-bar button-balanced" ng-click="setup.getDates()">
                  {{setup.getExerciseMessage()}}
                </div>
              </div> 

              <div class="item" ng-show="setup.paramsSet">
                Calendar</br>
                <div class = "button button-positive"></div>
                Trigger
                </br>
                <div class = "button button-stable"></div>
                No Trigger
                <div class="row">
                  <div class="col">Sun</div>  
                  <div class="col">Mon</div>
                  <div class="col">Tue</div>
                  <div class="col">Wed</div>
                  <div class="col">Thur</div>
                  <div class="col">Fri</div>
                  <div class="col">Sat</div>      
                </div>
                <div class="row" ng-repeat="week in setup.calander">
                  <div class="col" ng-repeat= "day in week">
                    <a class = "button button-positive" ng-show = "day.dayType === 'trigger'"> {{day.date}}</a>
                    <a class = "button button-stable" ng-show = "day.dayType === 'nonTrigger'"> {{day.date}}</a>
                    <a class = "button button-light" ng-show = "day.dayType === 'none'"> {{day.date}}</a>
                  </div>
                </div>
              </div>
            </div> 

              <a class="button button-block button-royal" ui-sref="setup_4b">
                {{text.setup4.button}} &nbsp; <i class="ion-chevron-right"></i>
              </a>
            </div>

          </ion-content>  
          </ion-pane>
      </ion-view>
