      <ion-view title="Trial Setup">
          <ion-pane>
          <ion-content>
          <div class="card padding">     
            <div class="row">
                <div class="col divcenter" style="margin-top: 8px;"><i class="ion-calendar" style="font-size: 350%;"></i></div>
                <h3 class="col col-80" class="title">{{text.setup.title}}</h3>
            </div>      
            <p class="padding">{{text.setup.content}}</p></br>
           <div>
              <a class="button button-block button-royal" ui-sref="setup_2">
                {{text.setup.button}} <!-- icon ion-plus-round -->
              </a>
            </div>
          </div>
          </ion-content>  
          </ion-pane>
      </ion-view>
