      <ion-view title="Study Setup (4 of 4)">
          <ion-pane>
          <ion-content>   
            <div class="padding">      
              <h4 class="title">{{text.setup5.title}}</h4>
              <h5 class="title">{{text.setup5.topic_title}}</h5>
              <p>{{chosen_topic}}</p>
              <br/>

              <h5 class="title">{{text.setup5.symptoms_title}}</h5>
              <p ng-repeat="symptom in chosen_symptoms">{{symptom}}</p>
              <br/>

              <h5 class="title">{{text.setup5.study_length}}</h5>
              <p>{{chosen_date_range}}</p>              
              <br/>

              <h5 class="title">{{text.setup5.reminder_times_title}}</h5>
              <div class="row" ng-repeat="remdesc in study.remdescrs">
                <div class="col">{{text.setup5[remdesc.type + '_reminder_title'] || remdesc.type}}</div>
                <div class="col">{{chosen_reminder_times[remdesc.type]}}</div>
              </div>
              
              <a class="button button-block button-royal" ng-disabled="!study_data_complete" ng-click="begin_study()">
                {{text.setup5.button}}
              </a>
          </div>

          </ion-content>  
          </ion-pane>
      </ion-view>
