      <ion-view title="Study Setup">
          <ion-pane>
          <ion-content ng-controller="SetupController as SetupCont">

            <div class="row">
                <div class="col"><i class="ion-calendar font-big"></i></div>
                <div class="col col-80" ng-bind-html="title"></div>
            </div>      
            <div class="ten-padding" ng-bind-html="content">      
             </div> 
           </div>
          <a class="button button-block button-energized" ui-sref="setup_2">
            Let's Begin! <!-- icon ion-plus-round -->
          </a>
          </div>
          </ion-content>  
          </ion-pane>
      </ion-view>