<ion-view>
      <ion-nav-title class="heavy">
          Trial Set
        </ion-nav-title>
  <ion-pane>
    <ion-content class="grey">
		
            <div class="row" style="padding:0px;">
              <div class="neg-padding" style="padding:0px; padding-top:10px;">
                <i class="ion-ic-triangle energized" style="font-size: 150%;"></i>
              </div>
              <div class="setup-padding">
                <h4 class="heavy">{{text.setup6.title}}</h4>
              </div>
            </div>
            <p style="padding-left:20px;"> {{text.setup6.subtitle}} </p><br/>                
            <br/>

          <div class="" style="background-color:white; padding:10px 0px;"> 
            <p style="padding-left: 10px; margin:0px;">
              <a style="text-decoration: underline;" ng-click="help = help ? false : true">{{text.setup6.help}}</a>
            </p> 
            <div class="card" ng-show="help">
              <div class="item item-text-wrap list_text">
                <b>Food:</b><br/>
                On days: <span class="new_line">{{breakfast_on_prompt}}</span><br/><br/>
                Off days: <span class="new_line">{{breakfast_off_prompt}}</span><br/><br/>
                <b>Drink:</b><br/>
                On days: <span class="new_line">{{drink_on_prompt}}</span><br/><br/>
                Off days: <span class="new_line">{{drink_off_prompt}}</span><br/><br/>
              </div>
            </div>
          <br/>
            <p style="padding-left: 10px; margin:0px;">{{text.setup6.para1}}</p>
          </div>
      <br/>
              
              <div class="divcenter">
                <a class="button button-energized heavy" ui-sref="current" style="width:180px;">
                  {{text.setup6.button}}
                </a>
              </div>
    </ion-content>  
  </ion-pane>
</ion-view>