      <ion-view >
        <ion-nav-title class="heavy">
          Trial Setup (3 of 5)
        </ion-nav-title>
          <ion-pane>
          <ion-content class="grey">   
            <div class="">      
            
            <br/>
            <div class="row" style="padding:0px;">
              <div class="neg-padding" style="padding:0px; margin:0px; padding-top:10px;">
                <i class="ion-ic-triangle energized" style="font-size: 150%;"></i>
              </div>
              <div class="setup-padding">
                <h4 class="heavy">{{text.setup4.title}}</h4>
              </div>
            </div>
            <p style="padding-left:20px;"> {{text.setup4.subtitle}} </p><br/>                

            <div class="list">
              <div class="item item-divider">
                Set start date and duration
              </div>
              <div class="item item-text-wrap rem_bkg">
                <h3>{{text.setup4.start_date_title}}</h3>
                <p>{{text.setup4.start_date_text}}</p>
                <label class="item item-input">
                  <span class="input-label" style="color:#000000;">{{text.setup4.date}}</span>
                  <input type="date" style="text-align:right; color:#999999;" ng-model="setupdata.startdate">
                </label>
              </div> 

              <div class="item item-text-wrap rem_bkg">
                <h3>{{text.setup4.study_length_title}}</h3>
                <!-- <p>{{text.setup4.study_length_text}}</p> -->
                <p> {{text.setup4.study_length_alt_text}} </p>
                <label class="item item-input item-select">
                  <div class="input-label" style="color:#000000;">
                    {{text.setup4.days}}
                  </div>
                  <select ng-model="setupdata.duration" style="color:#999999;">
                    <!-- <option value="8">8</option>
                    <option value="10">10</option> -->
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <!-- <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="24">24</option>
                    <option value="26">26</option>
                    <option value="28">28</option>
                    <option value="30">30</option> -->
                  </select>
                </label>
              </div>   

            </div>

            <div class="list">
              <div class="item item-divider">
                Set daily reminders
              </div>
              <div class="item item-text-wrap rem_bkg">
                <h3>{{text.setup4.morning_title}}</h3>
                <p>{{text.setup4.morning_text}}</p>
                <label class="item item-input">
                  <span class="input-label">{{text.setup4.time}}</span>
                  <input type="time" style="text-align:right;" ng-model="setupdata.morning_time">
                </label>
              </div>      

              <div class="item item-text-wrap rem_bkg">
                <h3>{{text.setup4.breakfast_title}}</h3>
                <p>{{text.setup4.breakfast_text}}</p>
                <label class="item item-input">
                  <span class="input-label">{{text.setup4.time}}</span>
                  <input type="time" style="text-align:right;" ng-model="setupdata.breakfast_time">
                </label>
              </div>      

              <div class="item item-text-wrap rem_bkg">
                <h3>{{text.setup4.symptom_title}}</h3>
                <p>{{text.setup4.symptom_text}}</p>
                <label class="item item-input"> 
                  <span class="input-label">{{text.setup4.time}}</span> 
                  <input type="time" style="text-align:right;" ng-model="setupdata.symptom_time">
                </label>
              </div>  

              <div class="item item-text-wrap rem_bkg">
                <h3>{{text.setup4.evening_title}}</h3>
                <p>{{text.setup4.evening_text}}</p>
                <label class="item item-input"> 
                  <span class="input-label">{{text.setup4.time}}</span> 
                  <input type="time" style="text-align:right;" ng-model="setupdata.evening_time">
                </label>
              </div> 
              <br/>

              <div class="divcenter">
                <a class="button button-energized heavy" ui-sref="setup_4b" style="width:150px;">
                  {{text.setup4.button}}
                </a>
              </div>
            </div>

          </ion-content>  
          </ion-pane>
      </ion-view>
