      <ion-view>
      <ion-nav-title class="heavy">
          Trial Setup (5 of 5)
        </ion-nav-title>
          <ion-pane>
          <ion-content>   
            <div class="grey">  
              <br/>

            <div class="row" style="padding:0px;">
              <div class="neg-padding" style="padding:0px; padding-top:10px;">
                <i class="ion-ic-triangle energized" style="font-size: 150%;"></i>
              </div>
              <div class="setup-padding">
                <h4 class="heavy">{{text.setup5.title}}</h4>
              </div>
            </div>

                <h4 class="heavy padding" style="margin:0px;">{{text.setup5.topic_title}}</h4>
                <div class="" style="background-color:white; padding:10px 0px;"> 
                  <p class="" style="padding-left: 10px; margin:0px;">{{chosen_topic}}</p>
                </div>
                <br/>
                
                <h4 class="heavy padding" style="margin:0px;">{{text.setup5.symptoms_title}}</h4>
                <div class="" style="background-color:white; padding:10px 0px;"> 
                  <p class="" style="padding-left: 10px; margin:0px;" ng-repeat="symptom in chosen_symptoms">{{symptom}}</p>
                </div>
                <br/>

                <h4 class="heavy padding" style="margin:0px;">{{text.setup5.study_length}}</h4>
                <div class="" style="background-color:white; padding:10px 0px;"> 
                  <p class="" style="padding-left: 10px; margin:0px;">{{chosen_date_range}}</p>
                </div>
                <br/>       

                <h4 class="heavy padding" style="margin:0px;">{{text.setup5.food_pref_title}}</h4>
                <div class="" style="background-color:white; padding:10px 0px;"> 
                  <div class="row">
                    <div class="col col-20">{{text.setup5.breakfast_pref}}</div>
                    <div class="col" style="text-align:right;">{{breakfast_pref}}</div>
                  </div>
                  <div class="row">
                    <div class="col col-20">{{text.setup5.drink_pref}}</div>
                    <div class="col" style="text-align:right;">{{drink_pref}}</div>
                  </div>
                </div>
                <br/>       

                <h4 class="heavy padding" style="margin:0px;">{{text.setup5.reminder_times_title}}</h4>
                <div class="" style="background-color:white; padding:10px 0px;"> 
                  <div class="row" ng-repeat="remdesc in study.remdescrs">
                    <div class="col col-75">{{text.setup5[remdesc.type + '_reminder_titlel'] || remdesc.type}}</div>
                    <div class="col">{{chosen_reminder_times[remdesc.type]}}</div>
                  </div>
                </div>
                <br/>   
              
              <!-- Test: {{breakfast_on_prompt}}<br/>
              Test2: {{breakfast_off_prompt}}<br/>
              Test3: {{drink_on_prompt}}<br/>
              Test4: {{drink_off_prompt}} -->
              <div class="divcenter">
                <a class="button button-energized heavy" ng-disabled="!study_data_complete || begin_study_called" ng-click="begin_study()" style="width:150px;">
                  {{text.setup5.button}}
                </a>
              </div>

              <br/>  <br/>  


          </div>

          </ion-content>  
          </ion-pane>
      </ion-view>
