      <ion-view title="Trial Setup (2 of 5)">
          <ion-pane>
          <ion-content>   
            <div class="padding">      
              <h4 class="title">{{text.setup3.title}}</h4>
              <p>{{text.setup3.subtitle}} <i class="ion-information-circled" ui-sref="triggerchoice"></i></p>

              
              <ul class="list">
                <div class="row" ng-repeat="trigger in text.setup3.triggers">
                  <div class="col col-90 zero-padding">
                    <li class="item item-checkbox" >
                      <label class="checkbox">
                        <input type="radio" name="trigger" value="{{$index}}" ng-model="setupdata.trigger">
                      </label><span class="item-text-wrap"> {{trigger.trigger}} </span>
                    </li>
                  </div>
                  <div class="col col-center zero-padding" class="button button-clear button-dark" ui-sref="{{trigger.uisref}}">&nbsp&nbsp&nbsp
                    <i class="ion-information-circled"></i>
                  </div>
                </div>
              </ul>

          <a class="button button-block button-royal" ui-sref="setup_4">
            {{text.setup3.button}} &nbsp; <i class="ion-chevron-right"></i>
          </a>

          </div>

          </ion-content>  
          </ion-pane>
      </ion-view>
