      <ion-view title="Trial Setup (4 of 5)">
          <ion-pane>
          <ion-content>   
            <div class="padding">      
              <h4 class="title">{{text.setup4b.title}}</h4>
              <p>{{text.setup4b.breakfast_text}}</p>
              
              <div class="list">
                <!-- {{text.setup4b.breakfast_text}}<br/> -->
                <label class="item item-input item-select">
                  <div class="input-label">
                    Breakfast
                  </div>
                  <select ng-model="setupdata.breakfast_preference" ng-options="breakfast as breakfast.breakfast for breakfast in text.setup4b.breakfast" >
                    <!-- Using the workaround to fix selecting one-off value bug https://github.com/angular/angular.js/issues/5132 -->
                    <option value="" ng-if="!setupdata.breakfast_preference" class="item-text-wrap">{{breakfast.breakfast}}</option>
                  </select>
                </label>
              </div>

              <div class="list">
                <!-- {{text.setup4b.drink_text}}<br/> -->
                <label class="item item-input item-select">
                  <div class="input-label">
                    Drink
                  </div>
                  <select ng-model="setupdata.drink_preference" ng-options="drink as drink.drink for drink in text.setup4b.drink" >
                    <option value="" ng-if="!setupdata.drink_preference">{{drink.drink}}</option>
                  </select>
                </label>
              </div>
              
              <div class="card">
                <div class="item item-text-wrap item-divider">
                  On days when you are supposed to consume {{trig_name}}
                </div>
                <div class="item item-text-wrap">
                  <h3>For breakfast:</h3>
                  <span class="new_line list_text">{{bfst_on}}</span><br/><br/>
                  <h3>For drink:</h3>
                  <span class="new_line list_text">{{drnk_on}}</span>
                </div>
              </div>

              <div class="card">
                <div class="item item-text-wrap item-divider">
                  On days when you are supposed to avoid {{trig_name}}
                </div>
                <div class="item item-text-wrap">
                  <h3>For breakfast:</h3>
                  <span class="new_line list_text">{{bfst_off}}</span><br/><br/>
                  <h3>For drink:</h3>
                  <span class="new_line list_text">{{drnk_off}}</span>
                </div>
              </div>

          <a class="button button-block button-royal" ui-sref="setup_5">
            {{text.setup4b.button}} &nbsp; <i class="ion-chevron-right"></i>
          </a>

          </div>

          </ion-content>  
          </ion-pane>
      </ion-view>
