      <ion-view >
        <ion-nav-title class="heavy">
          Trial Setup (4 of 5)
        </ion-nav-title>
          <ion-pane>
          <ion-content class="grey">   
            <div class=""> 
              <br/>

            <div class="row" style="padding:0px;">
              <div class="neg-padding" style="padding:0px; margin:0px; padding-top:10px;">
                <i class="ion-ic-triangle energized" style="font-size: 150%;"></i>
              </div>
              <div class="setup-padding">
                <h4 class="heavy">{{text.setup4b.title}}</h4>
              </div>
            </div>              
              <div class="list" style="padding:0px; margin:0px;">
                <!-- {{text.setup4b.breakfast_text}}<br/> -->
                <label class="item item-input item-select">
                  <div class="input-label">
                    Food
                  </div>
                  <select ng-model="setupdata.breakfast_preference" ng-options="breakfast as breakfast.breakfast for breakfast in text.setup4b.breakfast" >
                    <!-- Using the workaround to fix selecting one-off value bug https://github.com/angular/angular.js/issues/5132 -->
                    <option value="" ng-if="!setupdata.breakfast_preference" class="item-text-wrap">{{breakfast.breakfast}}</option>
                  </select>
                </label>
              </div>


              <div class="list">
                <!-- {{text.setup4b.drink_text}}<br/> -->
                <label class="item item-input item-select">
                  <div class="input-label">
                    Drink
                  </div>
                  <select ng-model="setupdata.drink_preference" ng-options="drink as drink.drink for drink in text.setup4b.drink" >
                    <option value="" ng-if="!setupdata.drink_preference">{{drink.drink}}</option>
                  </select>
                </label>
              </div>
              <p class="grey-text" style="padding-left:16px; padding-right:10px;"> {{desc_text}} </p><br/>                

              
              <div class="" style="background-color:white;">
                  <div class="row" style="padding-left:10px;">
                    <div class="col"><h5 class="heavy" style="margin:0px;">Consume {{trig_name}}</h5></div>
                    <div class="col col-20 heavy twelve primaryl1" style="text-align:center;">On Days</div>
                  </div>

                  <div class="row" style="padding-left:10px;">
                    <div class="col col-20 heavy">To eat</div>
                    <div class="col"><span class="new_line list_text grey-text">{{bfst_on}}</span></div>
                  </div>

                  <div class="row" style="padding-left:10px;">
                    <div class="col col-20 heavy">To drink</div>
                    <div class="col"><span class="new_line list_text grey-text">{{drnk_on}}</span></div>
                  </div>
              </div>

              <br/>

              <div class="" style="background-color:white;">
                  <div class="row" style="padding-left:10px;">
                    <div class="col"><h5 class="heavy" style="margin:0px;">Avoid {{trig_name}}</h5></div>
                    <div class="col col-20 heavy twelve primaryl2" style="text-align:center;">Off Days </div>
                  </div>

                  <div class="row" style="padding-left:10px;">
                    <div class="col col-20 heavy">To eat</div>
                    <div class="col"><span class="new_line list_text grey-text">{{bfst_off}}</span></div>
                  </div>

                  <div class="row" style="padding-left:10px;">
                    <div class="col col-20 heavy">To drink</div>
                    <div class="col"><span class="new_line list_text grey-text">{{drnk_off}}</span></div>
                  </div>
              </div>

              <br/>

              <div class="divcenter">
                <a class="button button-energized heavy" ui-sref="setup_5" style="width:150px;">
                  {{text.setup4b.button}}
                </a>
              </div>

              <br/>
              

          </div>

          </ion-content>  
          </ion-pane>
      </ion-view>
