      <ion-view title="Study Setup (2 of 4)">
          <ion-pane>
          <ion-content>   
            <div class="ten-padding">      
              <h4 class="title">2.2 Testing Lactose / Dairy Consumption</h4>
              <p>On randomly pre-assinged days you will be asked to eat at least 8 grams of lactose during your first meal, ideally breakfast. It is ok to eat more than 8 grams on these days.</p>
              <p>On other pre-assigned days you will be asked not to eat lactose during your first meal. You can eat lactose after logging your symptoms 4 hours after the meal.</p>

              <p>Some examples of 8 grams of lactose are:</p>
              <ul class="list">
                <li class="item">A cup of cottage cheese (225 grams)</li>
                <li class="item">A glass of cow's milk (8 oz)</li>
                <li class="item">A bowl of yogurt (5 oz)</li>
              </ul>

          </div>

          </ion-content>  
          </ion-pane>
      </ion-view>