      <ion-view title="Trial Setup (2 of 5)">
          <ion-pane>
          <ion-content>   
            <div class="padding">      
              <h4 class="title">{{text.setup3_1.title}}</h4>
              <p>{{text.setup3_1.para1}}</p>
              <p>{{text.setup3_1.para2}}</p>
              <p>{{text.setup3_1.para3}}</p>
              <ul class="list">
                <li class="item">{{text.setup3_1.list1}}</li>
                <li class="item">{{text.setup3_1.list2}}</li>
                <li class="item">{{text.setup3_1.list3}}</li>
              </ul>

          </div>

          </ion-content>  
          </ion-pane>
      </ion-view>