      <ion-view title="Study Setup (3 of 4)">
          <ion-pane>
          <ion-content>   
            <div class="ten-padding">      
              <h4 class="title">{{text.setup4.title}}</h4>
              <p>{{text.setup4.subtitle}}</p>
            </div>

            <div class="list">
              <div class="item">
                Morning Reminder
                <p>You will be sent a reminder to follow the study<br/>schedule for each day.</p>
                9:00 am <i class="ion-chevron-right"></i>
              </div>      

              <div class="item">
                Symptom Entry
                <p>Set this time to be at least 4 hours after <br/>your first meal.</p>
                1:00 pm <i class="ion-chevron-right"></i>
              </div>  
            
              <div class="item">
                Study Length
                <p>A longer study will produce results that are<br/>more likely to be accurate (8-30 days).</p>
                8 days <i class="ion-chevron-right"></i>
              </div>  
              
              <div class="item">
                Start date
                Tomorrow <i class="ion-chevron-right"></i>
              </div>  

              <div class="item">
                Calendar
                INSERT CALENDAR THING HERE!
              </div> 

            <div class="ten-padding">
              <a class="button button-block button-energized" ui-sref="setup_5">
                Continue &nbsp<i class="ion-chevron-right"></i> <!-- fa fa-chevron-right x3 -->
              </a>
            </div>

          </ion-content>  
          </ion-pane>
      </ion-view>