      <ion-view title="Trial Setup (1 of 5)">
          <ion-pane>
          <ion-content>   
          <div class="padding">
            <div class="row">
              <div class="col">
                <h4>1.</h4>
              </div>
              <div class="col col-90">
                <h4 class="title">{{text.setup2.title}}</h4>                 
              </div>
            </div>

            <div>
              <ul class="list">
                <li class="item item-checkbox" ng-repeat="symptom in text.setup2.symptoms" >
                  <label class="checkbox">
                    <input type="checkbox" ng-model="setupdata.symptom[$index]">
                  </label>{{symptom.symptom}}
                </li>
              </ul>

              <a class="button button-block button-royal" ui-sref="setup_3">
                {{text.setup2.button}}&nbsp
                <i class="ion-chevron-right"></i>
              </a>

          </div>
        </div>
          </ion-content>  
          </ion-pane>
      </ion-view>
