<ion-view title="Current Trial" cache-view="false">
  <ion-pane>
    <ion-content>
    <div class="calendar" ng-hide="!study_current">
      <br/><h5 class="padding">Day {{day_num}} of {{duration_readable}}</h5>
      <!--
      Start date : {{start_date_dtonly}}<br/>
      Start date : {{start_date_full}}<br/>
      End date : {{end_date_readable}}<br/>
      Duration : {{duration_readable}}<br/>
      Schedule : {{schedule}}<br/>
      Today:  {{today_readable}}<br/>
      Selected day : {{selected_date}}<br/>
      Row length : {{row_length}} 
      -->
      Reports: {{report}} <br/>
      <div class="button-bar"> 
        <div ng-repeat="day in schedule">
          <a class="button button-balanced" ng-if="day != today_readable" ng-show="$index < row_length" ui-sref="calendar">{{day}}</a>
          <a class="button button-energized" ng-if="day == today_readable" ng-show="$index < row_length" ui-sref="calendar">{{day}}</a>
        </div>
      </div>

      <div class="button-bar">
        <div ng-repeat="day in schedule">
          <a class="button button-balanced" ng-if="day != today_readable" ng-show="$index >= row_length" ui-sref="calendar">{{day}}</a>
          <a class="button button-energized" ng-if="day == today_readable" ng-show="$index >= row_length" ui-sref="calendar">{{day}}</a>
        </div>
      </div>
      <br/><br/>

    </div>
        <br/>

    <div class="padding">    
    
    <h4 class="title">{{text.current.title}} {{start_date_full}}</h4>
    <p>{{text.current.subtitle}}</p>
    <p><a ui-sref="setup_3_2">{{text.current.para1}}</a></p>
    <br/>    

    <!-- <ul>
      <li ng-repeat="rem in text.current.reminders"><p><i class="ion-ios-circle-outline"></i> {{rem.rem}}</p></li>
    </ul> -->
    <h4>Your reminders for today:</h4>
    <!-- XXX In later commit, change contents of the whole page. -->
    <p ng-show="!study_current">(No current trial. Please create a new trial.)</p>
    <div ng-repeat="rem in study_reminders">
        <p>
        <i class="ion-ios-checkmark" ng-hide="rem.reportdue" style="font-size: 120%;"></i>
        <i class="ion-ios-circle-outline" ng-show="rem.reportdue" style="font-size: 120%;"></i>
        {{rem.schedmsg}}
        <div class="divcenter" ng-show="!!rem.logmsg">
            <a class="button button-royal" ui-sref="{{rem.logstate}}" ng-disabled="rem.disabled">
                {{rem.logmsg}}
            </a>
        </div>
        </p>
        <br/>
    </div>

    <h4>Optional:</h4>
      <p>
        {{text.current.note}}
        <div class="divcenter">
          <a class="button button-royal" ui-sref="notes">
            {{text.current.button3}}
          </a>
        </div>
      </p>

    </div>
    </ion-content>  
  </ion-pane>
</ion-view>
