<!-- 
Page Hierarchy:

- Calendar widget   when ongoing/scheduled study && if experiment has started && last day of study has passed 
- Day card          when ongoing/scheduled study
  - Scheduled but not started 
  - Started but not past
    - Reminder card
    - Optional card
  - Past but not ended
  - Abandon card
- No onging study  
-->


<ion-view cache-view="false">
  <ion-nav-title>
    <span class="heavy">{{title}}</heavy>
  </ion-nav-title>
  <ion-pane>
    <ion-content class="grey">

    <!-- Calendar widget -->
    <div class="primary" ng-show="(study_current && !is_past)">
      <div>
        <!-- row for day name labels -->
        <div class="row">
          <div class="col divcenter white" ng-repeat="day in day_names track by $index">{{day}}</div>
        </div>

        <!-- first row -->
        <div class="row button-bar">
            <div ng-repeat="c_day in cal_days" class="col zero-padding" ng-show="c_day[4] == 'row_0'" >
              <a class="button btn_lh" ng-if="c_day[0] != today_readable" ng-show="c_day[4] == 'row_0'" ng-class="c_day[1] == 'A' ? 'primaryl1btn' : '' || c_day[1] == 'B' ? 'primaryl2btn' : '' || c_day[1] == null ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar"  ng-disabled="!c_day[3]">{{c_day[0]}}</a>
              <a class="button btn_lh" ng-if="c_day[0] == today_readable" ng-show="c_day[4] == 'row_0'" ng-class="c_day[1] == 'A' ? 'primaryl1btnalt' : '' || c_day[1] == 'B' ? 'primaryl2btnalt' : '' || c_day[1] == '' ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar"  ng-disabled="!c_day[3]">
                <span ng-show="fives" class="not-on-top"> <i class="ion-ic-rectangle90 dark" style="font-size:300%; margin-left:-6px;"></i> </span>
                <span ng-show="six" class="not-on-top"> <i class="ion-ic-rectangle104 dark" style="font-size:300%; margin-left:-5px;"></i> </span>
                <span ng-show="sixp" class="not-on-top"> <i class="ion-ic-rectangle104 dark" style="font-size:330%; margin-left:-5px;"></i> </span>
                <span class="on-top">{{c_day[0]}}</span>
              </a>
          </div>
        </div>
        <!-- second row -->
        <div class="row button-bar">
            <div ng-repeat="c_day in cal_days" class="col zero-padding" ng-show="c_day[4] == 'row_1'" >
             <a class="button btn_lh" ng-if="c_day[0] != today_readable" ng-show="c_day[4] == 'row_1'" ng-class="c_day[1] == 'A' ? 'primaryl1btn' : '' || c_day[1] == 'B' ? 'primaryl2btn' : '' || c_day[1] == null ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar"  ng-disabled="!c_day[3]">{{c_day[0]}}</a>
              <a class="button btn_lh" ng-if="c_day[0] == today_readable" ng-show="c_day[4] == 'row_1'" ng-class="c_day[1] == 'A' ? 'primaryl1btnalt' : '' || c_day[1] == 'B' ? 'primaryl2btnalt' : '' || c_day[1] == null ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar"  ng-disabled="!c_day[3]">
                <span ng-show="fives" class="not-on-top"> <i class="ion-ic-rectangle90 dark" style="font-size:300%; margin-left:-6px;"></i> </span>
                <span ng-show="six" class="not-on-top"> <i class="ion-ic-rectangle104 dark" style="font-size:300%; margin-left:-5px;"></i> </span>
                <span ng-show="sixp" class="not-on-top"> <i class="ion-ic-rectangle104 dark" style="font-size:330%; margin-left:-5px;"></i> </span>
                <span class="on-top">{{c_day[0]}}</span>
              </a>
            </div>
        </div>
        <!-- third row -->
        <div class="row button-bar">
            <div ng-repeat="c_day in cal_days"  class="col zero-padding" ng-show="c_day[4] == 'row_2'">
             <a class="button btn_lh" ng-if="c_day[0] != today_readable" ng-show="c_day[4] == 'row_2'" ng-class="c_day[1] == 'A' ? 'primaryl1btn' : '' || c_day[1] == 'B' ? 'primaryl2btn' : '' || c_day[1] == null ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar"  ng-disabled="!c_day[3]">{{c_day[0]}}</a>
              <a class="button btn_lh" ng-if="c_day[0] == today_readable" ng-show="c_day[4] == 'row_2'" ng-class="c_day[1] == 'A' ? 'primaryl1btnalt' : '' || c_day[1] == 'B' ? 'primaryl2btnalt' : '' || c_day[1] == null ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar"  ng-disabled="!c_day[3]">
                <span ng-show="fives" class="not-on-top"> <i class="ion-ic-rectangle90 dark" style="font-size:300%; margin-left:-6px;"></i> </span>
                <span ng-show="six" class="not-on-top"> <i class="ion-ic-rectangle104 dark" style="font-size:300%; margin-left:-5px;"></i> </span>
                <span ng-show="sixp" class="not-on-top"> <i class="ion-ic-rectangle104 dark" style="font-size:330%; margin-left:-5px;"></i> </span>
                <span class="on-top">{{c_day[0]}}</span>
              </a>
            </div>
        </div>              
      </div>

      <div class="padding"> 
        <!-- Legend for the calendar -->
            <div class="row">
              <div class="">
                <i class="ion-stop twelve" style="font-size: 100%; color:#74b5e0;"></i>&nbsp;&nbsp;
              </div>
              <div class="white">
                {{legend_A_text}}
              </div>
            </div>
            <div class="row">
              <div class="">
                <i class="ion-stop twelve" style="font-size: 100%; color:#c3dff2;"></i>&nbsp;&nbsp;
              </div>
              <div class="white">
                {{legend_B_text}}
              </div>
            </div>
      </div>
    </div>

    <div class="grey" ng-hide="!study_current || is_past">    
        <!-- 
        Content to display when a trial is scheduled but not underway
        --> 
        <div class="" ng-hide="!exp_bool">
          <h4 class="heavy padding">{{text.current.title}} {{today_full}}</h4>
          <div class="" style="background-color:white; padding:10px 0px;"> 
            <p style="padding-left: 10px; margin:0px;">
              You have an trial scheduled to begin on <span class="heavy">{{start_date_full}}</span>. <br/><br/>
              To view trial details or abandon trial go to the 'Settings' tab. <br/>
            </p>
          </div>    
        </div>    

        <!-- 
        Content to display when trial underway
        --> 
          <div ng-show="(!exp_bool)">
              <div class="row padding" style="padding-bottom:0px;">
                <div class="col">
                  <h4 class="heavy" style="margin-top:0px; margin-bottom:0px;">{{day_cond}}</h4>
                  <p>Day {{day_num}} of {{duration_readable}}</p>
                </div>
                <div class="padding" style="padding-right:0px;">
                  <a ng-click="help = help ? false : true" ng-class="help == true ? 'royal' : '' ">
                    <i class="ion-ic-foodPlan" style="font-size: 250%;"></i>
                  </a>
                </div>
              </div>
              <div class="card" style="margin-top:0px;" ng-show="help">
                  <div class="item item-text-wrap list_text">
                     <b>To eat:</b><br/>
                     <span class="new_line">{{active_bfst}}</span><br/><br/>
                     <b>To drink:</b><br/>
                     <span class="new_line">{{active_drnk}}</span>
                 </div>
              </div>
          </div>

          <div class="" style="background-color:white;" ng-show="(!exp_bool)"> 
            <!-- Breakfast section -->
            <div class="row padding" >
              <div class="neg-padding">
                <div style="display: inline-block; vertical-align:7px; margin-left:-5px;">
                  <i class="ion-ic-triangle energized" ng-hide="bfst_comp_state" style="font-size: 150%;"></i>
                  <i class="ion-ic-triangle white" ng-hide="!bfst_comp_state" style="font-size: 150%;"></i>
                </div>
                <div ng-hide="bfst_comp_state" style="display: inline-block;">
                  <i class="ion-ic-reportWaiting" style="font-size: 300%;"></i>
                </div>
                <div ng-hide="!bfst_comp_state" style="display: inline-block; margin-top:-14px;">
                  <i class="ion-ic-reportFinished" style="font-size: 300%;"></i>
                </div>
              </div>
              
              <div class="rem-padding" ng-hide="bfst_comp_state">
                <div class="" style="display: inline-block;">
                  <h4 style="margin-top:0px; margin-bottom:0px;">Eat Breakfast</h4>
                  <span>Before {{bfst_rem_time}}</span>
                </div>
                <div class="" style="display: inline-block;float:right;">
                  <a class="button button-small button-energized small-text heavy reportbtn" style="margin:0px;margin-top:5px;" ui-sref="during" ng-disabled="">
                    &nbsp;&nbsp; Report &nbsp;&nbsp;
                  </a>
                </div>
              </div>

              <div class="rem-padding" ng-hide="!bfst_comp_state">
                <!-- h5 has a margin-top nad bottom of 10px -->
                <!-- Row and column have padding of top and left of 5px, resetting that manully -->
                <div class="row" style="margin-top:-10px; margin-left:5px;">
                  <div class="col" style="margin-left:-15px;">
                    <h4 style="margin-top:0px; margin-bottom:0px;">Eat Breakfast</h4>
                    <span class="" ng-bind-html="bfst_comp_msg"></span>
                  </div>
                  <div class="edit-padding" style="margin-left:-15px;">
                    <a class="button button-small button-calm small-text heavy reportbtn white" style="margin-top:8px;" ui-sref="during">
                     &nbsp;&nbsp; Edit &nbsp;&nbsp;
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <hr/ style="margin:0px;color:#eeeeee;">
            <!-- Fasting section -->
            <div class="row padding">
              <div class="neg-padding">
                <div style="display: inline-block; vertical-align:7px; margin-left:-5px;">
                  <i class="ion-ic-triangle energized" ng-hide="!bfst_comp_state || lcomp_state" style="font-size: 150%;"></i>
                  <i class="ion-ic-triangle white" ng-hide="lcomp_state || bfst_comp_state" style="font-size: 150%;"></i>
                  <i class="ion-ic-triangle white" ng-hide="!lcomp_state" style="font-size: 150%;"></i>
                </div>
                <div ng-hide="bfst_comp_state" style="display: inline-block; ">
                  <i class="ion-ic-reportWaiting disabled-text" style="font-size: 300%;"></i>
                </div>
                <div ng-hide="!bfst_comp_state || lcomp_state" style="display: inline-block; ">
                  <i class="ion-ic-reportWaiting" style="font-size: 300%;"></i>
                </div>
                <div ng-hide="!lcomp_state" style="margin-top: -14px; display: inline-block; ">
                  <i class="ion-ic-reportFinished" style="font-size: 300%;"></i>
                </div>
              </div>

              <div class="rem-padding" ng-hide="lcomp_state">
                <div class="" ng-hide="!bfst_comp_state || lcomp_state" style="display: inline-block;">
                  <h4 style="margin-top:0px; margin-bottom:0px;">Fast</h4>
                  <span>For 3 hours</span>
                </div>
                <div class="disabled-text" ng-hide="bfst_comp_state" style="display: inline-block;">
                  <h4 class="disabled-text" style="margin-top:0px; margin-bottom:0px;">Fast</h4>
                  <span>For 3 hours</span>
                </div>
                <div class="" style="display: inline-block;float:right;">
                  <a class="button button-small button-energized small-text heavy reportbtn" style="margin:0px;margin-top:5px;" ui-sref="sec_comp" ng-disabled="!bfst_comp_state">
                    &nbsp;&nbsp; Report &nbsp;&nbsp;
                  </a>
                </div>
              </div>

              <div class="rem-padding" ng-hide="!lcomp_state">
                <!-- h5 has a margin-top nad bottom of 10px -->
                <!-- Row and column have padding of top and left of 5px, resetting that manully -->
                <div class="row" style="margin-top:-10px;  margin-left:5px;">
                  <div class="col" style="margin-left:-15px;">
                    <h4 style="margin-top:0px; margin-bottom:0px;">Fast</h4>
                    <span class="" ng-bind-html="lcomp_msg"></span>
                  </div>
                  <div class="edit-padding" style="margin-left:-15px;">
                    <a class="button button-small button-calm small-text heavy reportbtn white" style="margin-top:8px;" ui-sref="sec_comp">
                     &nbsp;&nbsp; Edit &nbsp;&nbsp;
                    </a>
                  </div>
                </div>
              </div>
            </div>   

            <hr/ style="margin:0px;color:#eeeeee;">
            <!-- Symptom score section -->
            <div class="row padding">
              <div class="neg-padding">
                <div style="display: inline-block; vertical-align:7px; margin-left:-5px;">
                  <i class="ion-ic-triangle energized" ng-hide="!lcomp_state || sym_score_state" style="font-size: 150%;"></i>
                  <i class="ion-ic-triangle white" ng-hide="sym_score_state || lcomp_state" style="font-size: 150%;"></i>
                  <i class="ion-ic-triangle white" ng-hide="!sym_score_state" style="font-size: 150%;"></i>
                </div>
                <div ng-hide="lcomp_state" style="display: inline-block; ">
                  <i class="ion-ic-reportWaiting disabled-text" style="font-size: 300%;"></i>
                </div>
                <div ng-hide="!lcomp_state || sym_score_state" style="display: inline-block; ">
                  <i class="ion-ic-reportWaiting" style="font-size: 300%;"></i>
                </div>
                <div ng-hide="!sym_score_state" style="margin-top:-14px; display: inline-block; ">
                  <i class="ion-ic-reportFinished" style="font-size: 300%;"></i>
                </div>
              </div>

              <div class="rem-padding" ng-hide="sym_score_state">
                <div class="" style="display: inline-block;" ng-hide="!lcomp_state || sym_score_state">
                  <h4 style="margin-top:0px; margin-bottom:0px;" >Symptoms</h4>
                  <p ng-bind-html="sym_list"></p>
                </div>
                <div class="disabled-text" style="display: inline-block;" ng-hide="lcomp_state">
                  <h4 style="margin-top:0px; margin-bottom:0px;" class="disabled-text">Symptoms</h4>
                  <p ng-bind-html="sym_list"></p>
                </div>
                <div class="" style="display: inline-block;float:right;">
                  <a class="button button-small button-energized small-text heavy reportbtn" style="margin:0px;margin-top:5px;" ui-sref="post({symptomIndex:0})" ng-disabled="!lcomp_state">
                    &nbsp;&nbsp; Report &nbsp;&nbsp;
                  </a>
                </div>
              </div>

              <div class="rem-padding" ng-hide="!sym_score_state">
                <!-- h5 has a margin-top nad bottom of 10px -->
                <!-- Row and column have padding of top and left of 5px, resetting that manully -->
                <div class="row" style="margin-top:-10px; margin-left:5px;">
                  <div class="col" style="margin-left:-15px;">
                    <h4 style="margin-top:0px; margin-bottom:0px;">Symptom Impact</h4>
                    <span class="" ng-bind-html="report_msg"></span>
                  </div>
                  <div class="edit-padding" style="margin-left:-15px;">
                    <a class="button button-small button-calm small-text heavy reportbtn white" style="margin-top:8px;" ui-sref="post({symptomIndex:0})">
                     &nbsp;&nbsp; Edit &nbsp;&nbsp;
                    </a>
                  </div>
                </div>
              </div>
            </div> 
          </div>

          <br/>
            <!-- Notes section -->
            <!-- <hr/> -->
            <div class="row padding" style="background-color:white;"  ng-show="(!exp_bool)">
              <div class="neg-padding" style="vertical-align:7px; margin-left:5px;">
                <i class="ion-ic-note" style="font-size: 300%;"></i>
              </div>

              <div class="rem-padding" ng-hide="nt_fg" style="padding-left:0px;">
                <div class="row" style="margin-top:-5px;">
                  <div class="col" style="margin-left:-15px;">
                    <h4 style="margin-top:0px; margin-bottom:0px;">Note </h4>
                  </div>
                  <div class="edit-padding">
                    <a class="button button-small button-calm small-text heavy reportbtn white" style="margin-top:8px;" ui-sref="notes">
                      &nbsp;&nbsp; Add &nbsp;&nbsp;
                    </a>
                  </div>
                </div>
              </div>

              <div class="rem-padding" ng-hide="!nt_fg" style="padding-left:0px;">
                <div class="row" style="margin-top:-5px; margin-left:5px;">
                  <div class="col" style="margin-left:-15px;">
                    <h4 style="margin-top:0px; margin-bottom:0px;">Note </h4>
                    <p class="" ng-bind-html="note"></p>
                  </div>
                  <div class="edit-padding">
                    <a class="button button-small button-calm small-text heavy reportbtn white" style="margin-top:8px;" ui-sref="notes">
                      &nbsp;&nbsp; Edit &nbsp;&nbsp;
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Last section -->
            <!-- <hr ng-hide="!sym_score_state"/> -->
            <!-- <div class="row" ng-hide="!sym_score_state">
              <div class="neg-padding">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="rem-padding">
                <h5><b>Done for the day!</b></h5>
                <p ng-bind-html="day_next_cond"></p>
              </div>
            </div> -->

            <!-- Footer section -->
            <div class="padding" style="margin-left:5px;"  ng-show="(!exp_bool)">
              <p>Today's report will be submitted automatically at 11:59pm.</p>
              <div ng-hide="!sym_score_state"> 
                <h5><b>Done for the day!</b></h5>
                <p ng-bind-html="day_next_cond"></p>
              </div>
            </div>

    </div>  

        <!-- 
        Content to display when trial is underway but past the last day.
        -->         
        <div ng-show="is_past">
          <h4 class="heavy padding">Submit Trial</h4>
          <div style="background-color:white;" >
            <p class="padding"> Your {{title}} is past. <br/>
                To view the results complete the trial by clicking below. <span class="heavy">Once completed, the results will be available in the Trial Results tab.</span></p>
          </div>
          <div class="row">
            <div class="col col-10"> &nbsp;&nbsp; </div>
            <div class="col">
                <a class="button button-block button-energized heavy" ng-click="complete_trial()" style="width:{{btn_width}}px;">
                  Complete Trial
                </a>
            </div>
            <div class="col col-10"> &nbsp;&nbsp; </div>
          </div>
        </div>


    <!-- 
    Content to display when there is no on going study
    --> 
    <div class="padding grey-text" ng-show="!study_current">
        <br/>
        <div class="divcenter">
            <i class="ion-ic-newTrial" style="font-size: 1000%; color:#dddddd;"></i> <br/>
        </div>
        <p class="new_line">{{text.setup.content}}</p>
        <div class="row">
            <div class="col col-10"> &nbsp;&nbsp; </div>
            <div class="col">
                <a class="button button-block button-energized heavy" ui-sref="setup_2" style="width:{{btn_width}}px;">
                  Setup A New Trial
                </a>
            </div>
            <div class="col col-10"> &nbsp;&nbsp; </div>
          </div>
    </div>   

    </ion-content>  
  </ion-pane>
</ion-view>
