<!-- 
Page Hierarchy:

- Calendar widget   when ongoing/scheduled study && if experiment has started && last day of study has passed 
- Day card          when ongoing/scheduled study
  - Scheduled but not started 
  - Started but not past
    - Reminder card
    - Optional card
  - Past but not ended
  - Abandon card
- No onging study  
-->


<ion-view title="{{title}}" cache-view="false">
  <ion-pane>
    <ion-content>
    <div class="calendar" ng-show="(study_current && !is_past)">
      <br/>
      <div class="row"> 
        <div class="col col-33">
          <h5 ng-show="!exp_bool">Day {{day_num}} of {{duration_readable}}</h5>
        </div>
        <!-- Legend for the calendar -->
        <div class="col">
          <div style="float:right;">
            <div class="row">
              <div class="">
                <i class="ion-stop royal twelve" style="font-size: 100%;"></i>&nbsp&nbsp
              </div>
              <div class="">
                {{legend_A_text}}
              </div>
            </div>
            <div class="row">
              <div class="">
                <i class="ion-stop twelve" style="font-size: 100%; color:#a596c1;"></i>&nbsp&nbsp
              </div>
              <div class="">
                {{legend_B_text}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <!-- row for day name labels -->
        <div class="row">
          <div class="col divcenter" ng-repeat="day in day_names">{{day}}</div>
        </div>

        <!-- first row -->
        <div class="row">
          <div class="button-bar divcenter">
            <div ng-repeat="c_day in cal_days">
              <a class="button btn-lh" ng-if="c_day[0] != today_readable" ng-show="c_day[4] == 'row_0'" ng-class="c_day[1] == 'A' ? 'button-royal' : '' || c_day[1] == 'B' ? 'light-royal' : '' || c_day[1] == null ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar" ng-disabled="!c_day[3]">{{c_day[0]}}</a>
              <a class="button btn-lh" ng-if="c_day[0] == today_readable" ng-show="c_day[4] == 'row_0'" ng-class="c_day[1] == 'A' ? 'button-royal' : '' || c_day[1] == 'B' ? 'light-royal' : '' || c_day[1] == '' ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar" ng-disabled="!c_day[3]">
                <span class="not-on-top"> <i class="ion-android-radio-button-off energized" style="font-size: 300%;"></i> </span>
                <span class="on-top">{{c_day[0]}}</span>
              </a>
            </div>
          </div>
        </div>
        <!-- second row -->
        <div class="row">
          <div class="button-bar divcenter">
            <div ng-repeat="c_day in cal_days">
             <a class="button btn-lh" ng-if="c_day[0] != today_readable" ng-show="c_day[4] == 'row_1'" ng-class="c_day[1] == 'A' ? 'button-royal' : '' || c_day[1] == 'B' ? 'light-royal' : '' || c_day[1] == null ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar" ng-disabled="!c_day[3]">{{c_day[0]}}</a>
              <a class="button btn-lh" ng-if="c_day[0] == today_readable" ng-show="c_day[4] == 'row_1'" ng-class="c_day[1] == 'A' ? 'button-royal' : '' || c_day[1] == 'B' ? 'light-royal' : '' || c_day[1] == null ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar" ng-disabled="!c_day[3]">
                <span class="not-on-top"> <i class="ion-android-radio-button-off energized" style="font-size: 300%;"></i> </span>
                <span class="on-top">{{c_day[0]}}</span>
              </a>
            </div>
          </div>
        </div>
        <!-- third row -->
        <div class="row">
          <div class="button-bar divcenter">
            <div ng-repeat="c_day in cal_days">
             <a class="button btn-lh" ng-if="c_day[0] != today_readable" ng-show="c_day[4] == 'row_2'" ng-class="c_day[1] == 'A' ? 'button-royal' : '' || c_day[1] == 'B' ? 'light-royal' : '' || c_day[1] == null ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar" ng-disabled="!c_day[3]">{{c_day[0]}}</a>
              <a class="button btn-lh" ng-if="c_day[0] == today_readable" ng-show="c_day[4] == 'row_2'" ng-class="c_day[1] == 'A' ? 'button-royal' : '' || c_day[1] == 'B' ? 'light-royal' : '' || c_day[1] == null ? 'button-clear' : ''" ng-click="calendardata.button = c_day[0]" ui-sref="calendar" ng-disabled="!c_day[3]">
                <span class="not-on-top"> <i class="ion-android-radio-button-off energized" style="font-size: 300%;"></i> </span>
                <span class="on-top">{{c_day[0]}}</span>
              </a>
            </div>
          </div>
        </div>              
      </div>

      <br/>
      <br/>
    </div>

    <div class="padding" ng-hide="!study_current">    
        <!-- 
        Content to display when there is no on going trial
        --> 
        <div class="card padding" ng-hide="!exp_bool">
          <h4 class="title">{{text.current.title}} {{today_full}}</h4>
          You have an trial scheduled to begin on {{start_date_full}}. <br/><br/>
          To view trial details or abandon trial go to the current trial under 'My Trials' tab. <br/>
        </div>    

        <!-- 
        Content to display when trial underway
        --> 
        <div ng-show="(!exp_bool && !is_past)">
        
          <!-- Card to display during accelerated trial -->
          <!-- <div class="card padding" ng-show="accelerated">
            <h4 class="assertive item-text-wrap">Accelerated Trial enabled!</h4>
              <b>The entire trial will be completed in one hour. </b><br/>
              Please note that certain features like date, breakfast preferences, and calendar widget will not be available during accelerated trial.
              You will be able to enter your daily compliance and symptom severity levels as expected.
            </p>
          </div> -->


          <!-- Change content of card based on state of report
          1. Initially, show condition for day and food pref help
          2. Once bfst compliance entered, show 'do not eat message'
          3. Once symptom reported, show 'submit for day' 
          4. Once report submitted, show 'done for the day' -->
          <!-- Condition 1 of 4: initial -->
          <!-- <div class="card padding" ng-hide="bfst_comp_state" >
            <h4 class="title">{{text.current.title}} {{today_full}}</h4>
            <p>{{text.current.subtitle}} <br/>
                <b>{{active_text}}</b></p>
            <p><a style="text-decoration: underline; color:royal" ng-click="help = help ? false : true">{{text.current.para1}}</a></p> 
            <div class="card" ng-show="help">
               <div class="item item-text-wrap list_text">
                   <b>To eat:</b><br/>
                   <span class="new_line">{{active_bfst}}</span><br/><br/>
                   <b>To drink:</b><br/>
                   <span class="new_line">{{active_drnk}}</span>
               </div>
            </div>
          </div> -->
          <!-- Condition 2 of 4: bfst complied -->
          <!-- <div class="card padding" ng-hide="!bfst_comp_state || sym_score_state">
            <h4 class="title">Fasting Period</h4>
            <p>Between {{bfst_rem}} and {{sym_rem}}:<br/>
                <b>Do not eat or drink.</b></p>
            <p><a style="text-decoration: underline; color:royal" ng-click="help = help ? false : true">{{text.current.para1}}</a></p> 
            <div class="card" ng-show="help">
               <div class="item item-text-wrap list_text">
                   <b>To eat:</b><br/>
                   <span class="new_line">Nothing</span><br/><br/>
                   <b>To drink:</b><br/>
                   <span class="new_line">Okay to drink water</span>
               </div>
            </div>
          </div> -->
          <!-- Condition 3 of 4: symptom reported -->
          <!-- <div class="card padding" ng-hide="!sym_score_state || sym_submit">
            <h4 class="title">Submit Report</h4>
            <p>Submit your report for the day by clicking on the confirm button below the reminders.</p>
          </div> -->
          <!-- Condition 4 of 4: done4day -->
          <!-- <div class="card padding" ng-hide="!sym_submit">
            <h4 class="title">Done For The Day!</h4>
            <p>You have no more reports to confirm for the day. You can view your submitted report below. You can still add/edit your note for today's report.</p>
          </div> -->

          <div class="">
            <div class="row">
              <div class="neg-padding">
                &nbsp&nbsp&nbsp&nbsp&nbsp
              </div>
              <div class="rem-padding">
                <h4>Today</h4>
                <h5 style="margin-top:0px;">{{day_cond}}</h5>
                <p><a style="text-decoration: underline; color:royal" ng-click="help = help ? false : true">{{text.current.para1}}
                    <i class="ion-information-circled" style="font-size: 120%;"></i>
                </a></p>
                <div class="card" ng-show="help">
                   <div class="item item-text-wrap list_text">
                       <b>To eat:</b><br/>
                       <span class="new_line">{{active_bfst}}</span><br/><br/>
                       <b>To drink:</b><br/>
                       <span class="new_line">{{active_drnk}}</span>
                   </div>
                </div>
              </div>
            </div>

            <!-- Breakfast section -->
            <div class="row">
              <div class="neg-padding">
                <i class="ion-android-arrow-dropright-circle" ng-hide="bfst_comp_state" style="font-size: 120%;"></i>
                <i class="ion-ios-checkmark" ng-hide="!bfst_comp_state" style="font-size: 120%;"></i>
              </div>

              <div class="rem-padding" ng-hide="bfst_comp_state">
                <h5 style="margin-top:0px; margin-bottom:0px;">Eat Breakfast</h5>
                <div class="">
                  <p>Before {{bfst_rem_time}}</p>
                  <a class="button button-block button-royal small-text" ui-sref="during" ng-disabled="">
                    &nbsp&nbsp Report Breakfast &nbsp&nbsp
                  </a>
                </div>
              </div>

              <div class="rem-padding" ng-hide="!bfst_comp_state">
                <!-- h5 has a margin-top nad bottom of 10px -->
                <!-- Row and column have padding of top and left of 5px, resetting that manully -->
                <div class="row" style="margin-top:-10px; margin-left:5px;">
                  <div class="col" style="margin-left:-15px;">
                    <h5 style="margin-top:0px; margin-bottom:0px;">Eat Breakfast</h5>
                    <p class="balanced" ng-bind-html="bfst_comp_msg"></p>
                  </div>
                  <div class="edit-padding" style="margin-left:-15px;">
                    <a class="button button-small button-royal" style="margin-top:8px;" ui-sref="during">
                     &nbsp<i class="ion-edit" style="font-size: 120%;"></i>&nbsp
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Fasting section -->
            <div class="row">
              <div class="neg-padding">
                <i class="ion-ios-circle-outline" ng-hide="bfst_comp_state" style="font-size: 120%;"></i>
                <i class="ion-android-arrow-dropright-circle" ng-hide="!bfst_comp_state || lcomp_state" style="font-size: 120%;"></i>
                <i class="ion-ios-checkmark" ng-hide="!lcomp_state" style="font-size: 120%;"></i>
              </div>

              <div class="rem-padding" ng-hide="lcomp_state">
                <h5 style="margin-top:0px; margin-bottom:0px;">Fast</h5>
                <div class="">
                  <p>For 3 hours</p>
                  <a class="button button-block button-royal small-text" ui-sref="sec_comp" ng-disabled="!bfst_comp_state">
                    &nbsp&nbsp Report Fasting &nbsp&nbsp
                  </a>
                </div>
              </div>

              <div class="rem-padding" ng-hide="!lcomp_state">
                <!-- h5 has a margin-top nad bottom of 10px -->
                <!-- Row and column have padding of top and left of 5px, resetting that manully -->
                <div class="row" style="margin-top:-10px; margin-left:5px;">
                  <div class="col" style="margin-left:-15px;">
                    <h5 style="margin-top:0px; margin-bottom:0px;">Fast</h5>
                    <p class="balanced" ng-bind-html="lcomp_msg"></p>
                  </div>
                  <div class="edit-padding" style="margin-left:-15px;">
                    <a class="button button-small button-royal" style="margin-top:8px;" ui-sref="sec_comp">
                     &nbsp<i class="ion-edit" style="font-size: 120%;"></i>&nbsp
                    </a>
                  </div>
                </div>
              </div>
            </div>   

            <!-- Symptom score section -->
            <div class="row">
              <div class="neg-padding">
                <i class="ion-ios-circle-outline" ng-hide="lcomp_state" style="font-size: 120%;"></i>
                <i class="ion-android-arrow-dropright-circle" ng-hide="!lcomp_state || sym_score_state" style="font-size: 120%;"></i>
                <i class="ion-ios-checkmark" ng-hide="!sym_score_state" style="font-size: 120%;"></i>
              </div>

              <div class="rem-padding" ng-hide="sym_score_state">
                <h5 style="margin-top:0px; margin-bottom:0px;">Report Symptoms</h5>
                <div class="">
                  <!-- <p>Before 9 am</p> -->
                  <a class="button button-block button-royal small-text" ui-sref="post({symptomIndex:0})" ng-disabled="!lcomp_state">
                    &nbsp&nbsp Report Symptoms &nbsp&nbsp
                  </a>
                </div>
              </div>

              <div class="rem-padding" ng-hide="!sym_score_state">
                <!-- h5 has a margin-top nad bottom of 10px -->
                <!-- Row and column have padding of top and left of 5px, resetting that manully -->
                <div class="row" style="margin-top:-10px; margin-left:5px;">
                  <div class="col" style="margin-left:-15px;">
                    <h5 style="margin-top:0px; margin-bottom:0px;">Report Symptoms</h5>
                    <p class="balanced" ng-bind-html="report_msg"></p>
                  </div>
                  <div class="edit-padding" style="margin-left:-15px;">
                    <a class="button button-small button-royal" style="margin-top:8px;" ui-sref="post({symptomIndex:0})">
                     &nbsp<i class="ion-edit" style="font-size: 120%;"></i>&nbsp
                    </a>
                  </div>
                </div>
              </div>
            </div> 

            <!-- Notes section -->
            <hr/>
            <div class="row">
              <div class="neg-padding">
                <!-- Empty div for alignment purposes -->
                &nbsp&nbsp&nbsp&nbsp&nbsp
              </div>

              <div class="rem-padding" ng-hide="nt_fg">
                <p>Note For Today<br/>
                  <a class="button button-block button-royal small-text" ui-sref="notes">
                    {{nt_btn_txt}}
                  </a>
                </p>
              </div>

              <div class="rem-padding" ng-hide="!nt_fg">
                <div class="row" style="margin-top:-5px; margin-left:-10px;">
                  <div class="col">
                    <p>Note For Today</p>
                    <p class="balanced" ng-bind-html="note"></p>
                  </div>
                  <div class="edit-padding">
                    <a class="button button-small button-royal" style="margin-top:8px;" ui-sref="notes">
                     &nbsp<i class="ion-edit" style="font-size: 120%;"></i>&nbsp
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Last section -->
            <hr ng-hide="!sym_score_state"/>
            <div class="row" ng-hide="!sym_score_state">
              <div class="neg-padding">
                <!-- Empty div for alignment purposes -->
                &nbsp&nbsp&nbsp&nbsp&nbsp
              </div>
              <div class="rem-padding">
                <h5><b>Done for the day!</b></h5>
                <p ng-bind-html="day_next_cond"></p>
              </div>
            </div>

          </div>  

          </div>


<!--           <div class="card padding" ng-hide="sbmtd">   
            <h4>{{text.current.reminder_title}}</h4>
                <div ng-repeat="rem in study_reminders">
                  <div class="row">
                    <div class="neg-padding">
                      <i class="ion-ios-checkmark" ng-hide="rem.reportdue" style="font-size: 120%;"></i>
                      <i class="ion-ios-circle-outline" ng-show="rem.reportdue" style="font-size: 120%;"></i>
                    </div>
                    <div class="rem-padding">
                      {{rem.schedmsg}} 
                    </div>
                  </div>
                  <div class="row" ng-show="!!rem.logmsg">
                    <div class="neg-padding">
                      &nbsp&nbsp&nbsp
                    </div>
                    <div class="rem-padding">
                      <span class="balanced" ng-bind-html="rem.reportmsg"></span>
                      <div >
                          <a class="button button-block button-royal small-text" ui-sref="{{rem.logstate}}" ng-disabled="sbmtd || rem.disabled">
                              &nbsp&nbsp {{rem.logmsg}} &nbsp&nbsp
                          </a>
                      </div>                    
                    </div>
                  </div>
                </div>
                <div class="card padding submit-card">
                  <p ng-show="sym_scr_st">{{text.current.submit_text}}</p>
                  <p ng-show="!sym_scr_st">{{text.current.submit_cant}}</p>
                  <a class="button button-block button-royal" ng-click="submit_for_day()" ng-disabled="sbmtd || !sym_scr_st" > &nbsp&nbsp {{text.current.submit_button}} &nbsp&nbsp </a>
                </div>
          </div> -->

          <!-- Card to show when the user submits the report for the day -->
          <!-- <div class="card padding" ng-show="sbmtd">
            <h4>{{text.current.report_sum_title}}</h4>
            <div ng-repeat="rem in study_reminders">
              <span class="balanced" ng-bind-html="rem.reportmsg"></span>
            </div><br/>
            <p>{{text.current.submitted_text}}</p>
          </div> -->

          <!-- Card entering notes -->
          <!-- <div class="card padding">
            <h4>Note</h4>
              <p>
                <span ng-hide="nt_fg">{{text.current.note}}</span>
                <span ng-show="nt_fg">{{text.current.note2}}</span> <br/>
                <span ng-show="nt_fg" class="balanced">{{note}}</span>
                  <a class="button button-block button-royal" ui-sref="notes">
                    {{nt_btn_txt}}
                  </a>
              </p>
          </div> --> 

        </div>
        <!-- 
        Content to display when trial is underway but past the last day.
        -->         
        <div ng-show="is_past" class="card padding">
          <h4>Submit Trial</h4>
            Your {{title}} is past. <br/>
            To view the results <b>Complete Trial</b> by going to 'My Trials' tab and selecting {{title}} under 'Current Trial'.
        </div>

    </div>

    <!-- 
    Content to display when there is no on going study
    --> 
    <div class="card padding" ng-show="!study_current">
        <h4 class="title">No ongoing trial</h4>
        <br/>
        <p>Would you like to setup a new trial?</p>
        <br/>
        <a class="button button-block button-royal" ui-sref="setup_1">
          Setup a New Trial
        </a>
    </div>   

     <div class="card padding">
        For testing purposes only: <br/>
        {{exp_id}}
     </div>

    </ion-content>  
  </ion-pane>
</ion-view>
