<ion-view cache-view="false">
  <ion-nav-title class="heavy">
    FAQs
  </ion-nav-title>
	<ion-pane>
    <ion-content>
<!--     	<div class="padding">
			<h4 class="title">{{text.faqs.title}}</h4>
			<p>{{text.faqs.subtitle}}</p>
			<br/>
		</div> -->
		
		<div class="list">
			<div ng-repeat="title in text.faqs.topics">
			  <div class="item item-divider  item-text-wrap heavy" style="background-color:#eeeeee; color:#242424; padding-top:16px;">
			    {{title.title}}
			  </div>
			  <div ng-repeat="faq in title.list">
				  <a class="item item-text-wrap" ui-sref="{{faq.uisref}}" >
				    {{faq.faq}}
				  </a>
			  </div>
			</div>
		</div>

		<p class="padding" style="color:#666666;">If you did not find what you were looking for, please reach out to us at <a href="mailto:tumtrial@uw.edu" target="_blank"><span class="il">tumtrial</span>@uw.edu</a> or <a href="tel:%28206%29%20543-3220" value="+12065433220" target="_blank">(206) 543-3220</a>.</p>

		</ion-content>  
	</ion-pane>
</ion-view>