<ion-view title="FAQs">
	<ion-pane>
    <ion-content>
    	<div class="ten-padding">
	      	<br/>
			<h4 class="title">{{text.faqs.title}}</h4>
			<br/>
			<p>{{text.faqs.subtitle}}</p>
			<br/>
		</div>
		
		<div class="list">

		  <div class="item item-divider">
		    Irritable Bowel Syndrome
		  </div>
		  <a class="item" href="#">
		    What is Irritable Bowel Syndrome (IBS)?
		  </a>
		  <a class="item" href="#">
		    What are triggers for IBS?
		  </a>
		  <a class="item" href="#">
		    What are various symptoms for IBS?
		  </a>

		  <div class="item item-divider">
		    Trial / Study
		  </div>
		  <a class="item" href="#">
		    What is a self-experiment?
		  </a>
		  <a class="item" href="#"> 
		    How to pick a trigger to test?
		  </a>
		  <a class="item" href="#">
		    What is the symptom severity scale?
		  </a>
		  <a class="item" href="#">
		    How is the result calculated?
		  </a>

		  <div class="item item-divider">
		    Food Guide
		  </div>
		  <a class="item" href="#">
		    Need help deciding what to eat?
		  </a>

		  <div class="item item-divider">
		    Miscellaneous
		  </div>
		  <a class="item" href="#">
		    What is the meaning of life?
		  </a>

		</div>

		</ion-content>  
	</ion-pane>
</ion-view>