<ion-view cache-view="false">
  <ion-nav-title class="heavy">
    Trial Results
  </ion-nav-title>
<!-- cache-view="false" is required here to get the controller to
     reinstantiate on every transition to this page. I.e., to get the
     page to display current info.

     http://ionicframework.com/docs/api/directive/ionNavView/
-->
	<ion-pane>
		<ion-content >
<!--         <div class="padding" ng-hide="!!study_current">
	        <h4 class="title">No ongoing trial</h4>
			<br/>
			<p>Would you like to setup a new trial?</p>
			<br/>

			<a class="button button-block button-royal" ui-sref="setup_1">
	            Setup a New Trial
	        </a>
    	</div> -->


        <div class="list">          
          <a class="item item-text-wrap" ng-repeat="study in study_previous" ui-sref="past_trial_1({studyIndex: $index})" ng-hide="study_previous.length<1">
            
          	<div class="" style="display: inline-block;">
          		<!-- <i ng-class="'{{study.status}}' == 'ended' ? 'ion-ic-finished' : 'ion-ic-abandoned'" ng-style="{'color': '{{study.status}}' == 'ended' ? '#66cc33' : '#ef4e3a'}" style="font-size: 200%;"></i> -->
          		<i ng-class="'{{study.status}}' == 'ended' ? 'ion-ic-finished' : 'ion-ic-abandoned'" style="font-size: 200%;"></i> &nbsp;&nbsp;
          	</div>
          	<div style="display: inline-block;">
			  	<h2>{{study.trigger}} Trial</h2> 
			  	<h5>{{start_date(study.start_time)}} - {{end_date(study.end_time)}} &nbsp; ({{duration(study.start_time, study.end_time)}} days) | {{status(study.status)}}</h5>
          	</div>
	      </a>
		</div>

		<div class="divcenter padding  grey-text" style="margin-top: {{move_top}}px;" ng-show="study_previous.length<1">
          	<i class="ion-ic-noResult" style="font-size: 1000%; color:#dddddd;"></i> <br/>
            No results available. Check again once your trial is completed.
         </div>

		</ion-content>  
	</ion-pane>
</ion-view>
