<ion-view cache-view="false">
  <ion-nav-title class="heavy">
    Trial Results
  </ion-nav-title>
	<ion-pane>
		<ion-content >

        <div class="list">          
          <a class="item item-text-wrap" ng-repeat="study in study_previous" ui-sref="past_trial_1({studyIndex: $index})" ng-hide="study_previous.length<1">
            
          	<div class="" style="display: inline-block;">
          		<!-- <i ng-class="'{{study.status}}' == 'ended' ? 'ion-ic-finished' : 'ion-ic-abandoned'" ng-style="{'color': '{{study.status}}' == 'ended' ? '#66cc33' : '#ef4e3a'}" style="font-size: 200%;"></i> -->
          		<i ng-class="'{{study.status}}' == 'ended' ? 'ion-ic-finished' : 'ion-ic-abandoned'" style="font-size: 200%;"></i> &nbsp;&nbsp;
          	</div>
          	<div style="display: inline-block;">
			  	<h2>{{study.trigger}} Trial</h2> 
			  	<h5>{{start_date(study.start_time)}} - {{end_date(study.end_time)}} &nbsp; ({{duration(study.start_time, study.end_time)}} days) | {{status(study.status)}}</h5>
          	</div>
	      </a>
		</div>

		<div class="divcenter padding  grey-text" style="margin-top: {{move_top}}px;" ng-show="study_previous.length<1">
          	<i class="ion-ic-noResult" style="font-size: 1000%; color:#dddddd;"></i> <br/>
            No results available. Check again once your trial is completed.
         </div>

		</ion-content>  
	</ion-pane>
</ion-view>
