<ion-view cache-view="false">
  <ion-nav-title class="heavy">
    Settings
  </ion-nav-title>
  <ion-pane>
    <ion-content class="grey">
          <!-- Current trial details if it exists -->
          <div ng-hide="!cur">
            <!-- 
              Completing a study
            --> 
            <div ng-show="comp" class="">
              <h4 class="heavy padding" style="margin:0px; padding-left:10px;">Submit Trial</h4>
              <div class="" style="background-color:white; padding:10px 0px;"> 
                  <p class="" style="padding:0px 10px; margin:0px;">
                    You have finished the trial. Please submit the trial by pressing the button below to view results.
                  </p>
                  <br/>
                <div class="divcenter">
                  <a class="button button-energized heavy" ng-click="complete_trial()" style="width:180px;">
                    Complete Trial
                  </a>
                </div>
              </div>
            </div>  

            <!-- 
              Abandoning a study
            --> 
            <div ng-show="abdn || !comp" class="">
              <div class="row">
                <div class="col">
                  <h4 class="heavy padding" style="margin:0px; padding-left:0px;">Abandon Trial</h4>
                </div>
                <div class="col col-10" style="margin-top:6px;">
                  <span ui-sref="trial_summary"><i class="ion-information-circled" style="font-size: 175%;"></i></span>
                </div>
              </div>

              <div class="" style="background-color:white; padding:10px 0px;"> 
                  <p class="" style="padding:0px 10px; margin:0px;">
                    {{text.current.abandon_text}}
                  </p>
                  <br/>
                <div class="divcenter">
                  <a class="button button-assertive heavy" ng-click="abandon_trial()" style="width:180px;">
                    Abandon Trial
                  </a>
                </div>
              </div>
            </div>  

          </div>
          <br/>

          <h4 class="heavy padding" style="margin:0px;">Clear Credentials</h4>
          <div class="item-text-wrap" style="background-color:white; padding:10px 0px;">
              <p class="" style="padding:0px 10px; margin:0px;">{{text.settings.clear_explanation}}</p>
              <br/>
              <div class="divcenter">
                <a class="button button-assertive heavy white" ng-click="clear_credentials()" ng-disabled="!have_credentials" style="width:180px;">
                  {{text.settings.clear_creds}}
                </a>
              </div>
          </div>

        <!-- <div class="card">
          <div class="item item-text-wrap ">
              <button class="button button-block button-assertive" ng-click="begin_demo()" ng-disabled="!demo_is_possible">
                  {{text.settings.accelerated_demo}}
              </button>
          <p>{{text.settings.demo_explanation}}</p>
          </div>
        </div> -->

        <br/>
          <a class="button button-block button-royal" ui-sref="setup_1">
            Setup a New Trial
          </a>
    </ion-content>  
  </ion-pane>
</ion-view>
